form {
    overflow: hidden;
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 1.5%;
}

button {
    width: 100% !important;
}