
<form #form="ngForm">
  <div class="row center-column">
    <div class="col-12 center-column">
      <h1>MasGlobal Test</h1>
    </div>

    <div class="col-8 center-row">
      <div class="col-8">
        <input type="text" class="form-control" name="id" [(ngModel)]="id">
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="makeRequest()">Get Employees</button>
      </div>
    </div>

    <div *ngIf="showAlert" class="col-8 center-column" style="width: 100% !important;">
      <div class="alert alert-danger">The employee with id {{id}} doesn't exist</div>
    </div>

    <div class="center-column">
      <table class="table table-stripped">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Contract Type Name</th>
          <th>Role Id</th>
          <th>Role Name</th>
          <th>Role Description</th>
          <th>Hourly Salary</th>
          <th>Monthly Salary</th>
          <th>Anual Salary</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.contractTypeName}}</td>
            <td>{{employee.roleId}}</td>
            <td>{{employee.roleName}}</td>
            <td>{{employee.roleDescription}}</td>
            <td>{{employee.hourlySalary}}</td>
            <td>{{employee.monthlySalary}}</td>
            <td>{{employee.anualSalary}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>


